{% extends 'profile/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<style>
body{
        background-image:url(https://images.pexels.com/photos/36753/flower-purple-lical-blosso.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);
        background-color:#59656F;
        background-size:cover;
        color:#C0C5C1;
}
</style>
<body>
<div class="container">
    <h1 style="margin-top: 100px;font-size:30px"> Click to Edit your profile {{current_user}}</h1>
    <div class="container" style="margin-top :30px">
        <div class="edit">
            <form action="{% url 'updateprofile'%}" method = "POST" enctype="multipart/form-data">
                {% csrf_token%}
               {% bootstrap_form form1%}
               {% bootstrap_form form %}
               <br><br>
             
                <select class="btn btn-dark" name="Location">
                    <option name="">Location</option>
                    <option name="" value="Nairobi">Nairobi</option>
                    <option name="" value="Ngong">Ngong</option>
                    <option name="" value="Thika">Thika</option>
                    <option name="" value="Ruiru">Ruiru</option>
                    <option name="" value="Rwaka">Rwaka</option>
                    <option name="" value="Juja">Juja</option>
                    <option name="" value="Kenol">Kenol</option>
                    <option name="" value="Westlands">Westlands</option>
                </select>
                <br><br>
                
                <input type="submit" class="btn btn-primary" >
            </form>

                

        </div>
    </div>
</div>
</body>
{% endblock %}