{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block content %}
<style>
body{
        background-image:url(https://cdn.designbyhumans.com/product_images/p/794756.f56.370a3S7ay1Cm2MjUAAA-650x650-b-p.jpg);
        background-color:#;
        background-size:cover;
        color:white;
}
h2{
    position:absolute;
    top:10%;
    left:20%;
    font-size:40px;
    color:black;
    text-align:center;
}
a{
    position:absolute;
    top:20%;
    left:30%;
}
</style>
<body>
<h2>You have logged out of your account</h2>

<div class="pro">
    <small class="text-muted">
        <a class="btn btn-primary" href="/accounts/login">Log in</a>
    </small>
</div>
</body>
{% endblock %}